<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>UCEFEZ- Fashion Store</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- admin -->
    <link rel="shortcut icon" type="image/x-icon" href="/WhatsApp Image 2023-11-02 at 5.24.43 PM (1).jpeg">
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />

        <!-- user -->
        <link rel="shortcut icon" type="image/x-icon" href="/WhatsApp Image 2023-11-02 at 5.24.43 PM (1).jpeg">
        <link rel="stylesheet" href="/userAssets/css/maind134.css?v=3.4">


</head>

<body>

    