<% if(item.status === "Order Placed" || item.status === "Shipped" || item.status === "Delivered") {%> 
    <p><%= orderDetails.paymentStatus %></p>
         <%} else if(item.status === "Cancelled") {%> 
 <p>Cancelled</p>
         <%} else if (item.status === "Returned") {%> 
             <p>Returned</p>
             <%}%>