<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/admin-dash" class="brand-wrap">
                <img src="/WhatsApp Image 2023-11-02 at 6.19.15 PM (1).jpeg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
  
                <li class="menu-item">
                    <a class="menu-link" href="/admin/admin-dash"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
  
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
  
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category-list"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span> </a>
                </li>
  
                <li class="menu-item">
                    <a class="menu-link" href="/admin/user-manage"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
  
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
              
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons md-assessment"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupon-list"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/offer-list"> <i class="icon material-icons md-request_quote"></i>
                    <span class="text">Offers</span>
                </a>
            </li>
               
            </ul>
            <hr>
            <ul class="menu-aside">
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAssets/imgs/people/profilepicture.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h3 class="content-title">Add Offer</h3>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <!-- <div class="card-header">
                            <h4>Basic</h4>
                        </div> -->
                        <div class="card-body">
                            <form  id="offer-form" method="post">
                                
                                <div class="col-lg-6 mb-4">
                                  <label class="form-label">Offer Type</label>
                                  <select class="form-select" name="offerType" id="offerType">
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="product">Product</option>
                                  </select>
                                </div>
                                
                                <div class="mb-4" id="offerNameProduct" style="display: none;">
                                    <label for="offerNameProduct" class="form-label">Product Name</label>
                                    <select class="form-select" name="offerNameProduct" id="offerNameProductSelect">
                                        <option disabled selected>Select Name</option>
                                        <% productData.forEach(product => { %>
                                        <option value="<%= product.productName %>"><%= product.productName %></option>
                                        <% }) %>
                                    </select>
                                </div>
  
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Discount percentage</label>
                                        <input placeholder="percentage" type="number" class="form-control" name="discountPercentage" id="discountPercentage">
                                    </div>
                                  </div>
  
                                  <div class="col-lg-6">
                                    <label class="form-label">Status</label>
                                    <select class="form-select" name="status" id="status">
                                        <option disabled selected>Select status</option>
                                        <option> Block </option>
                                        <option> Unblock </option>
                                    </select>
                                  </div>
                                </div>
  
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="mb-4">
                                          <label class="form-label">Startind Date</label>
                                          <div class="row gx-2">
                                              <input placeholder="₹" type="date" class="form-control" name="startDate" id="startDate">
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="col-lg-6">
                                      <div class="mb-4">
                                          <label class="form-label">Ending Date</label>
                                          <input placeholder="₹" type="date" class="form-control" name="endDate" id="endDate">
                                      </div>
                                  </div>
                                </div>
  
                                <div>
                                    <button class="btn btn-md" type="submit" id="submit">Submit</button>
                                </div>
                            </form>

                            <script>
                              document.addEventListener('DOMContentLoaded', function () {
                                const offerTypeSelect = document.getElementById('offerType');
                                const offerNameCategory = document.getElementById('offerNameCategory');
                                const offerNameProduct = document.getElementById('offerNameProduct');
                            
                                offerTypeSelect.addEventListener('change', function () {
                                  const selectedOption = offerTypeSelect.value;
                            
                                  if (selectedOption === 'category') {
                                    offerNameCategory.style.display = 'block';
                                    offerNameProduct.style.display = 'none';
                                  } else if (selectedOption === 'product') {
                                    offerNameProduct.style.display = 'block';
                                    offerNameCategory.style.display = 'none';
                                  } else {
                                    offerNameCategory.style.display = 'none';
                                    offerNameProduct.style.display = 'none';
                                  }
                                });
                              });
                            </script>
                        </div>
                    </div> 
                    
                </div>
                
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function(){
            const formsubmit = document.getElementById('coupon-form');
            formsubmit.addEventListener('submit',function(event){
                event.preventDefault();

                
            })
        })
    </script> -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const form = document.getElementById('offer-form');
          form.addEventListener('submit', function (event) {
            event.preventDefault();
      
            if (validateForm()) {
              const offerType = document.getElementById('offerType').value;
      
              let offerName;
              if (offerType === 'category') {
                offerName = document.getElementById('offerNameCategorySelect').value;
              } else if (offerType === 'product') {
                offerName = document.getElementById('offerNameProductSelect').value;
              }
      
              const discountPercentage = document.getElementById('discountPercentage').value;
              const status = document.getElementById('status').value;
              const startDate = document.getElementById('startDate').value;
              const endDate = document.getElementById('endDate').value;
      
              const jsonData = {
                offerType,
                offerName,
                discountPercentage,
                status,
                startDate,
                endDate
              };
      
              fetch('/admin/postadd-offer', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
              })
                .then(response => response.json())
                .then(data => {
                  if (data.error) {
                    Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: data.error,
                      showConfirmButton: false,
                      timer: 1500,
                    });
                  } else {
                    Swal.fire({
                      icon: 'success',
                      title: 'Success',
                      text: data.message,
                      showConfirmButton: false,
                      timer: 1500,
                    });
                    window.location.href = '/admin/offer-list';
                  }
                })
                .catch(error => {
                  Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to communicate with the server. Please try again.',
                    showConfirmButton: false,
                    timer: 1500,
                  });
                  console.error("Error:", error);
                });
            }
          });
      
          function validateForm() {
          
            const offerType = document.getElementById('offerType').value;
            const discountPercentage = document.getElementById('discountPercentage').value;
            const status = document.getElementById('status').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
      
            if (!offerType || !discountPercentage || !status || !startDate || !endDate) {
              Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'All fields are required.',
                showConfirmButton: false,
                timer: 1500,
              });
              return false;
            }
      
            if (discountPercentage < 0 || discountPercentage > 100) {
              Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Discount percentage must be between 0 and 100.',
                showConfirmButton: false,
                timer: 1500,
              });
              return false;
            }

            return true;
          }
        });
      </script>
      

      
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>